<div class="row">
     
    <div class="col-md-6">
        <h2>{{ titulo }}</h2>
        <p>{{ descripcion }}</p>
    </div>
     
    <div class="col-md-6">
        {{ formulario }}
    </div>
     
</div>
